.textabout p{
    text-align: center;
    font-style: italic;
}

.abtytlestyle{
    text-align: center;
    font-style: italic;

}
.aboutpic {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.txpic {
    display: block;
    font-size: 40px;
    font-weight: 365;
    line-height: 36px;
    min-height: 120px;
    margin-bottom: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.txpic2{
    display: block;
    font-size: 40px;
    font-weight: 350;
    line-height: 36px;
    min-height: 120px;
    margin-bottom: 25px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}